{
  "root": true,
  "plugins": [
    "react"
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true
      }
  },
  "rules": {
      "semi": 1,
      "indent": [ "error", "tab" ],
      "react/prop-types": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  }
}
