html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 100%;
	display: flex;
	flex-direction: column;
}

h1, h3 {
	color: #30147d;
}

h2 {
	color: #655889;
	font-size: 32px;
}

p, li {
	color: #141317;
	line-height: 1.6em;
	font-weight: 300;
}

a {
	text-decoration: none;
}

code {
	padding: 2.5px 5px;
	border-radius: 4px;
	border: 1px solid #eaeaea;
	background-color: #f8fcfe;
}

code.dark {
	background-color: #4f4270;
}

pre code {
	border: 0 transparent;
	line-height: 1.94;
}

.link {
	color: #98d8e1;
	font-weight: 800;
	cursor: pointer;
}

.link:hover {
	border-bottom: 2px solid #98d8e1;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	background-color: #171026;
	padding: 10px 60px;
	flex-shrink: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1
}

.main-nav a {
	color: white;
	text-decoration: none;
	font-size: 16px;
}

.main-nav_left, .main-nav_right {
	display: flex;
	align-items: center;
}

.main-nav_left a {
	margin-right: 30px;
}

.main-nav_right a {
	margin-left: 30px;
}

.main-nav .logo {
	color: #98d8e1;
	font-weight: 800;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

.page-container {
	padding: 0;
	margin-top: 70px;
}

h1 {
	font-size: 36px;
}

.h1-dark {
	color: white;
}

.h1-huge {
	font-size: 80px;
	margin: 0 0 .3em;
}

.anchor {
	display: block;
	padding-top: 80px;
	margin-top: -80px;
}

.highlight {
	color: #82c5ce;
}

.subheading-1-dark {
	color: #d0cce2;
	font-size: 20px;
	font-weight: 300;
}

.subheading-3 {
	font-size: 18px;
}

.subheading-2-dark {
	color: #bdb6d6;
	font-size: 18px;
	font-weight: 300;
}

.button-inverse {
	display: inline-block;
	border: 1px solid #e95ea2;
	color: #e95ea2;
	padding: 15px 30px;
	border-radius: 4px;
	font-size: 20px;
}

.button-inverse:hover {
	opacity: .6;
}

.button-inverse + .button-inverse {
	margin-left: 1em;
}

.section-inner .button-inverse {
	margin-top: 30px;
}

.code-container {
	display: flex;
	text-align: left;
}

.code-container code {
	flex-grow: 1;
}

.code-container_left,
.code-container_right {
	background-color: #f8fcfe;
	border: 1px solid #eaeaea;
	border-radius: 4px;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100%;
	padding: 3%;
	box-sizing: border-box;
	/* Allows code shadows to appear on parent */
	position: relative;
}

@media screen and (min-width: 1000px) {
	.code-container_left,
	.code-container_right {
		width: 45%;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}
}

.code-container_title {
	margin: -3% -3% 3%;
	padding: 3%;
	text-align: left;
	background: #fff;
}

.code-container_title p {
	margin-top: 0;
	margin-bottom: 0;
}

.code-container_title h3 {
	margin: 0 0 10px 0;
	text-align: center;
}

.code-container pre[class*=language-] {
	margin: 0;
	.border-radius: 0 4px 4px 0;
	border-top: 1px solid #eaeaea;
	display: flex;
	justify-content: flex-start;
	/* forces code shadows to position to parent */
	position: static !important;
}

.code-addition {
	padding: .3em;
	border-color: rgba(40, 158, 82, .7);
	background-color: rgba(47, 204, 102, .7);
}

/* Used for large block of content */
.content-section {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5% 2%;
}

.section-top {
	position: relative;
	background-color: rgba(60, 45, 91, .9);
	flex-wrap: wrap;
}

.section-top:after {
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: -1;
	background: #3c2d5b url('./images/logo.svg') center center no-repeat;
	background-size: cover;
}

.section-top .install-script {
	width: 300px;
}

@media screen and (max-width: 720px) {
	.section-top .button-inverse {
		display: block;
		margin-left: 0;
	}
}

.section-light {
	background-color: #e9f1f4;
}

.section-inner {
	width: 100%;
	text-align: center;
	display: block;
	flex-direction: column;
}

@media screen and (min-width: 1224px) {
	.section-inner {
		width: 1224px;
	}
}

.section-inner > *:not(.code-container) {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 600px) {
	.section-inner p {
		font-size: 1.2em;
	}
}

.page-conainer_columns {
	display: flex;
	height: 100%;
	min-height: 100%;
	max-height: 100%;
	border: 3px solid red;
}

.left-column {
	min-width: 13.5em;
	border-right: 1px solid #eaeaea;
	display: flex;
	flex-direction: column;
	padding: 60px 30px;
	background-color: #f8fcfe;
	flex-shrink: 0;
}

.left-column ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.left-column ul li {
	margin-bottom: 15px;
}

.left-column ul li a {
	color: #141317;
}

.right-column {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	width: 100%;
}

.right-column_top {
	padding: 30px 60px;
}

pre h2 {
	font-size: 13px;
	font-weight: 400;
}

@media only screen and (max-width: 1000px) {
	.code-container {
		flex-direction: column;
	}
}

.logo-container {

	display: flex;
	align-items: center;
}

.logo-image {
	width: 50px;
	height: 50px;
	margin-right: 7.5px;
}

footer {
	background-color: #221e2d;
	padding: 60px 60px;
	color: white;
}

.footer-links p {
	color: white;
}

.p-title {
	font-weight: 700;
}

.page-container_columns {
	display: flex;

}

.main-nav_left a.main-nav-link_active {
	border-bottom: 2px solid white;
}

a.bitovi-link {
	border-color: #bf393d;
	color: #bf393d;
	padding: .7em 1.5em;
	font-size: 14px;
	text-transform: uppercase;
}

.li-active {
	border-bottom: 2px solid #141317;
	color: #141317;
	font-weight: 400;
}

.columns-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-height: 100%;
	min-height: 100%;
	flex-grow: 1;
}

.no-columns-container {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}

.triptych{
	flex-grow: 1;
	margin: 5% -2% -5%;
}

.triptych:after {
	content: ' ';
	height: 0;
	display: block;
	overflow: hidden;
	clear: both;
}

.triptych > a {
	display: block;
	text-align: center;
	color: #ccc;
	padding: 1em;
	font-size: 1.5em;
	box-sizing: border-box;
}

.triptych img {
	margin-top: 1em;
	position: relative;
	top: 0;
	transition: top .1s linear;
}

@media screen and (min-width: 840px) {
	.triptych > a {
		float: left;
		width: 33.333%;
	}
}

.triptych > a:hover img {
	top: .5em;
}

.triptych > a:nth-child(1) {
	background-color: rgba(20, 20, 20, 0.7);
}

.triptych > a:nth-child(2) {
	background-color: rgba(0, 53, 60, 0.7);
}

.triptych > a:nth-child(3) {
	background-color: rgba(13, 4, 29, 0.7);
}
