html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

h1, h3 {
	color: #30147d;
}

h2 {
	color: #655889;
	font-size: 32px;
}

p, li {
	color: #141317;
	line-height: 1.6em;
	font-weight: 300;
}

a {
	text-decoration: none;
}

.link {
	color: #98d8e1;
	font-weight: 800;
	cursor: pointer;
}

.link:hover {
	border-bottom: 2px solid #98d8e1;
}

.main-nav {
	display: flex;
	justify-content: space-between;
	background-color: #171026;
	padding: 10px 60px;
	flex-shrink: 0;
}

.main-nav a {
	color: white;
	text-decoration: none;
	font-size: 16px;
}

.main-nav_left, .main-nav_right {
	display: flex;
	align-items: center;
}

.main-nav_left a {
	margin-right: 30px;
}

.main-nav .logo {
	color: #98d8e1;
	font-weight: 800;
	font-size: 20px;
	margin: 0;
	padding: 0;
}

.page-container {
	padding: 0;
}

.section-top {
	background-color: #3c2d5b;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 60px 30px;

}

.section-light {
	display: flex;
	padding: 60px 30px;
	align-items: center;
	justify-content: center;
	background-color: #e9f1f4;

}

.section-inner {
	width: 100%;
	text-align: center;
	display: block;
	flex-direction: column;
}

@media screen and (min-width: 1224px) {
	.section-inner {
		width: 1224px;
	}
}

.section-inner > *:not(.code-container) {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.section-inner p {
	font-size: 1.2em;
}

h1 {
	font-size: 36px;
}

.h1-dark {
	color: white;
}

.h1-huge {
	font-size: 80px;
	margin: 0 0 .3em;
}

.highlight {
	color: #82c5ce;
}

.subheading-1-dark {
	color: #d0cce2;
	font-size: 20px;
	font-weight: 300;
}

.subheading-3 {
	font-size: 18px;
}

.code-highlight-dark {
	padding: 2.5px 5px;
	border-radius: 4px;
	background-color: #4f4270;
}

.code-highlight-light {
	padding: 2.5px 5px;
	border-radius: 4px;
	border: 1px solid #eaeaea;
	background-color: #f8fcfe;
}

.subheading-2-dark {
	color: #bdb6d6;
	font-size: 18px;
	font-weight: 300;
}

.button-inverse {
	display: inline-block;
	background-color: rgba(0,0,0,0);
	border: 1px solid #e95ea2;
	color: #e95ea2;
	padding: 15px 30px;
	border-radius: 4px;
	font-size: 16px;
}

.button-inverse:hover {
	opacity: .6;
}

.button-inverse + .button-inverse {
	margin-left: 1em;
}

.section-inner .button-inverse {
	margin-top: 30px;
}

.code-container {
	display: flex;
	text-align: left;
}

.code-container code {
	flex-grow: 1;
}

.code-container_left,
.code-container_right {
	border: 1px solid #eaeaea;
	border-radius: 4px;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 100%;
}

@media screen and (min-width: 1000px) {
	.code-container_left,
	.code-container_right {
		width: 45%;
		margin-left: 2.5%;
		margin-right: 2.5%;
	}
}

.code-container_title {
	padding: 30px;
	text-align: left;
	background: #fff;
}

.code-container_title p {
	margin-top: 0;
	margin-bottom: 0;
}

.code-container_title h3 {
	margin: 0 0 10px 0;
	text-align: center;
}

.code-container pre[class*=language-] {
	background-color: #f8fcfe;
	padding: 30px !important;
	margin: 0;
	.border-radius: 0 4px 4px 0;
	border-top: 1px solid #eaeaea;
	display: flex;
	justify-content: flex-start;
}

.section-top .code-container {
	max-width: 960px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.section-top .code-container code {
	width: 100%;
}

.code-addition {
	padding: .3em;
	border-color: rgba(40, 158, 82, .7);
	background-color: rgba(47, 204, 102, .7);
}

.section-2 {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 60px 30px;
}

.section-inline {
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-conainer_columns {
	display: flex;
	height: 100%;
	min-height: 100%;
	max-height: 100%;
	border: 3px solid red;
}

.left-column {
	min-width: 13.5em;
	border-right: 1px solid #eaeaea;
	display: flex;
	flex-direction: column;
	padding: 60px 30px;
	background-color: #f8fcfe;
	overflow-y: scroll;
	flex-shrink: 0;
}

.left-column ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.left-column ul li {
	margin-bottom: 15px;
}

.left-column ul li a {
	color: #141317;
}

.right-column {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	width: 100%;
}

.right-column_top {
	padding: 30px 60px;
}

pre h2 {
	font-size: 13px;
	font-weight: 400;
}

@media only screen and (max-width: 1000px) {
	.code-container {
		flex-direction: column;
	}
}

.logo-container {

	display: flex;
	align-items: center;
}

.logo-image {
	width: 25px;
	height: 25px;
	margin-right: 7.5px;
}

footer {
	background-color: #221e2d;
	padding: 60px 60px;
	color: white;
}

.footer-links p {
	color: white;
}

.p-title {
	font-weight: 700;
}

.page-container_columns {
	display: flex;

}

.main-nav_left a.main-nav-link_active {
	border-bottom: 2px solid white;
}

.li-active {
	border-bottom: 2px solid #141317;
	color: #141317;
	font-weight: 400;
}

.columns-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	max-height: 100%;
	min-height: 100%;
	flex-grow: 1;
}

.no-columns-container {
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
}
